<!--Container för login sidan-->
<article class = "container-fluid cart">

    <div class="row justify-content-center">
        <form class="col-md-4 loginForm">
                <div class="alert-danger errormsg" role="alert">{{error}}</div>
                <label for="username">Username: </label>
                <input type="text" name="username" id="username" data-ng-model="username" />
            
                <label for="password">Password: </label>
                <input type="password" name="password" id="password" data-ng-model="password"/>
                <br />
                <button data-ng-click="login(username, password);" class="btn btn-primary">Login</button>
        </form>
    </div>

</article><!--Slut container-->